

<div class="size">

 
  <!--Purple-->
  <div class="text-center" style=" font-size: 40px;color:blue;
font-family: Cambria;">
    <br>
    <div *ngIf="this.ticket2.statut==null ">
      <p style=" font-size: 25px;color:blue;
  font-family: Cambria;">Prière de décrir votre problème en ouvrant un ticket </p>
    </div>
  </div>
  <nav>
    <div data-toggle="tooltip" title="Ouvrir un ticket">
      <div *ngIf="this.ticket2.statut==null ">
        <svg data-toggle="modal" data-target="#elegantModalForm" class="bi bi-plus-circle" width="3em" height="3em"
          viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </nav>
  <div class="size">
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant" >
          <!--Header-->
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong
                style="font-family: Cambria;color: darkblue;">Ajouter un ticket</strong></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body mx-4">
            <!--Body-->
            <div class="md-form mb-5">
              <div [hidden]="submitted" style="width: 300px;">




                <form class="cf validate-form" *ngIf="!isajout" name="form" (ngSubmit)="f.form.valid && onSubmit2()"
                  #f="ngForm" novalidate>

                  <div class="form-group">


                    <label for="label">Titre </label>
                    <input type="text" placeholder="titre" data-validate="Valid titre is required: ex@abc.xyz"
                      class="form-control" id="titre" name="titre" [(ngModel)]="form.titre" #titre="ngModel" required
                 >

                  </div>
                  <div class="alert-danger" *ngIf="f.submitted && titre.invalid">
                    <div *ngIf="titre.errors.required">titre is required</div>
                  </div>
                  <div class="form-group">
                    <label for="label">Label </label>
                    <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                      <select class="mdb-select md-form" [(ngModel)]="form.label" name="label"
                        class="form-control form-control-sm" required
                        label>

                        <option>rh</option>
                        <option>mission</option>
                        <option>facturation</option>

                      </select>
                    </div>


                  </div>
                  <label for="form18">Description</label>
                  <div class="md-form mb-4 pink-textarea active-pink-textarea">
                    <textarea id="form18" class="md-textarea form-control" rows="3" id="description " required
                      [(ngModel)]="form.description" name="description"  placeholder="description"></textarea>
                  </div>
                  
                  <br> <br> <br>

                  <div class="text-center mt-7">
                    <button type="button" class="btn btn-primary" (click)="onSubmit2()"> Enregistrer</button>
                  </div>
                </form>
                

              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Merci! <a href="#" class="blue-text ml-1">
                ton problème sera résolu le plus tôt possible</a></p>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Modal -->


    <br> <br>

    <div class="text-center">

      <br> <br>
    </div>
    <div class="container">
      <table class="table table-hover" style="background: rgba(176, 203, 248, 0.082);">
        <thead>
          <tr >
            <th>Date de création</th>
            <th>Titre</th>
            <th>label</th>
            <th>Statut</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>

              {{this.ticket2.dateDecreation}} </td>
            <td>

              {{this.ticket2.titre}} </td>
            <td>
              {{this.ticket2.label.name}} </td>
            <td>
              {{this.ticket2.statut}} </td>
            <td data-toggle="tooltip" title="details" *ngIf="this.ticket2.statut!= null">
              <i style="font-size: large;" data-toggle="tooltip" data-placement="top" title="details"
                class="fas fa-info" data-toggle="modal" data-target=#ch style="color:darkblue"></i>
              <div class="modal fade" id=ch tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">>
                <div class="modal-dialog" role="document">
                  <!--Content-->
                  <div class="modal-content form-elegant">
                    <!--Header-->
                    <div class="modal-header text-center">
                      <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                        <p style="color: darkblue;font-weight: bold;font-size: 20px;">Les details du ticket </p>
                      </h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body mx-4">
                      <!--Body-->
                      <div class="md-form mb-5">
                        <div [hidden]="submitted" style="width: 300px;">
                          <div class="zz">
                            <div class="card"
                              style="width: 25rem;margin: auto;margin-top: 15px; margin-bottom: 15px; background-color: rgb(244, 245, 233); background-image: url('') ;">
                              <img class="card-img-top" src="..." alt="">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                                <label style="color:darkblue">Titre:</label> <br>

                                <strong> {{ticket2.titre}} <br> </strong>
                                <label style="color:darkblue">Description:</label>
                                <p> {{ticket2.description}} </p>
                                <label style="color:darkblue">Action a faire:</label> <br>
                                {{ticket2.actionafaire}}

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer mx-5 pt-3 mb-1">
                      <p class="font-small grey-text d-flex justify-content-end"> Merci! <a href="#"
                          class="blue-text ml-1">
                        </a></p>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="(this.ticket2.statut== statut2)&&(this.ticket2.actionafaire!=ch || this.ticket2.actionFaite!=ch)" >
                <button data-toggle="modal" data-target="#elegantModalForm2" class="btn btn-info"
                  style="color:darkblue"> Cloturer le processus</button>
                <div class="modal fade" id="elegantModalForm2" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <!--Content-->
                    <div class="modal-content form-elegant">
                      <!--Header-->
                      <div class="modal-header text-center">
                        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                          <p style="color: darkblue;font-weight: bold;font-size: 20px;">Clôture du processus </p>
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <!--Body-->
                      <div class="modal-body mx-4">
                        <!--Body-->
                        <div class="md-form mb-5">
                          <div [hidden]="submitted" style="width: 400px;">
                            <div class="zz">
                              <div class="card"
                                style="width: 26rem;margin: auto;margin-top: 15px; margin-bottom: 15px; background-color: rgb(244, 245, 233); background-image: url('') ;">
                                <img class="card-img-top" src="..." alt="">
                                <div class="card-body">
                                  <h5 class="card-title"></h5>
                                  <p>
                                    <h3> Merci d'avoir utiliser notre service! </h3><br>
                                    <div *ngIf=" getactionafaire(ticket2)!=ch">
                                      <div class="resolue"> Notre support indique que vous devez effectuer Les actions
                                        suivantes:<br> </div>
                                      <p> {{ticket2.actionafaire}} </p>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                      <label for="">
                                        <div class="sat"> Etes-vous satisfait?</div>
                                      </label> <br>
                                    </div>
                                    <br> <br>

                                    <table>
                                      <tr>
                                        <td>
                                          <div class="check" data-toggle="tooltip" title="Satisfait"
                                            style="margin-left: 90px;">
                                            <svg style="color:green;" class="bi bi-check-circle" data-toggle="tooltip"
                                              data-original-title="Filter" class="bi bi-check" width="2em" height="2em"
                                              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                              (click)="reponseauticket(ticket2)">
                                              <path fill-rule="evenodd"
                                                d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
                                                clip-rule="evenodd" />
                                            </svg>
                                          </div>
                                        </td>
                                        <td>
                                          <div data-toggle="tooltip" title=" non satisfait" style="margin-left: 50px;">
                                            <svg class="bi bi-x" width="2em" height="2em" viewBox="0 0 16 16" fill="red"
                                              xmlns="http://www.w3.org/2000/svg" (click)="reponseauticket2(ticket2)">
                                              <path fill-rule="evenodd"
                                                d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                                clip-rule="evenodd" />
                                              <path fill-rule="evenodd"
                                                d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                                clip-rule="evenodd" />
                                            </svg>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Footer-->
                      <div class="modal-footer mx-5 pt-3 mb-1">
                        <p class="font-small grey-text d-flex justify-content-end">Merci! <a href="#"
                            class="blue-text ml-1">
                          </a></p>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <br>
  </div>
  </div>




